/* Основные стили для страницы */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    background-color: #000;  /* Черный фон */
    color: #fff;  /* Белый текст */
    padding: 20px;
    text-align: center;
    font-size: 14px;
}


footer p {
    margin: 0; /* Убираем стандартные отступы у параграфа */
}

/* Стиль для заголовков */
h1, h2, h3 {
    color: #2d73cf;
    font-weight: normal;
}

/* Стилизация ссылок */
a {
    text-decoration: none;
    color: #2d73cf;
}

a:hover {
    text-decoration: underline;
}

/* Блок с контентом */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Кнопки */
button {
    background-color: #2d73cf;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

/* Форма */
form {
    max-width: 400px; /* Ограничиваем максимальную ширину */
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2d73cf;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #2d73cf;
}

/* Стили для карточек недвижимости */
.property-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.property-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.property-card h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

/* Стили для верхней панели навигации */
.navbar {
    background-color: #2d73cf; /* Голубой цвет фона */
    padding: 30px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: black; /* Черный текст */
    background-color: white; /* Белый фон кнопок */
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #e0e0e0; /* Цвет кнопки при наведении */
}   