{% extends 'property_management/base_generic.html' %}

{% block title %}Каталог недвижимости{% endblock %}

{% block content %}
    <h1>Каталог недвижимости</h1>
    <ul>
        {% for property in properties %}
            <li>
                <a href="{% url 'property_management:property_detail' property.id %}">{{ property.title }}</a>
                - {{ property.price }} ₽
            </li>
        {% empty %}
            <li>Нет объектов для отображения.</li>
        {% endfor %}
    </ul>
{% endblock %}