{% extends 'property_management/base_generic.html' %}

{% block title %}Запросы на просмотр{% endblock %}

{% block content %}
    <h1>Запросы на просмотр</h1>
    <ul>
        {% for request in requests %}
            <li>
                Объект: {{ request.property.title }} — Дата: {{ request.date }}
                <a href="{% url 'property_management:approve_request' request.id %}">Одобрить</a>
            </li>
        {% empty %}
            <li>Нет запросов на просмотр.</li>
        {% endfor %}
    </ul>
{% endblock %}